.App {
  text-align: center;
  position: absolute;
  background-color: rgb(227,227,227);
  background-image: linear-gradient(to bottom, rgba(255,255,255,0.7) 0%,rgba(255,255,255,0.7) 100%), url('./images/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
}

#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6%;
  background-color: rgba(36, 75, 75, 0.75);
  box-shadow: 2px 2px 2px 0px #898989;
  z-index: 10;
}

#navbar a{
  margin-left: 10px;
  margin-right: 10px;
  color: rgb(255, 219, 187);
}

#navbarLogo {
  margin-left: 2.5%;
}

#navbarNavigation {
  margin-right: 2.5%;
}

#mainContainer {
  position: absolute;
  margin-left: 10%;
  margin-right: 10%;
}

#home {
  width: 100%;
  height: 100%;
  margin-top: 12%;
}

#home h1 {
  font-size: 1000%;
  margin: 0px auto;
}

#home h3{
  font-size: 300%;
  margin-top: 0px;
  margin-bottom: 10px;
}

#home a {
  text-decoration: none;
  padding: 5px 10px;
  margin-left: 10px;
  margin-right: 10px;
  color: rgb(255, 219, 187);
  background-color: rgba(36, 75, 75, 0.75);
  box-shadow: 2px 2px 2px 2px #898989;
}

.mainDetails {
  margin-left: 20%;
  margin-right: 20%;
}

.mainDetails h1 {
  margin-bottom: 0px;
}


#TheatreSelectedVideo {
  width: 400px;
  height: 300px;
}

#selectedVideo {
  width: 400px;
  height: 300px;
}

#nonSelectedVideo {
  width: 400px;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('./images/YoutubeStandIn.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

#selectedVideo h3 {
  padding: 0px;
  margin: 0px;
}

#selectedVideo h4 {
  padding: 0px;
  margin: 0px;
}

#videos {
  display: flex;
  justify-content: space-around;
  margin-left: 10%;
  margin-right: 10%;
}

#videoListItems li {
  list-style-type: none;
  text-align: left;
  padding: 2.5px;
  color: rgb(217, 217, 217);
  border: 1px solid rgb(0, 0, 0);
  background-color: rgb(77, 77, 77);
}

#videoListItems li:hover {
  color: rgb(255, 219, 187);
  background-color: rgba(36, 75, 75, 0.75);
}

#webDemosContainer h2 {
  margin-top: 2%;
  margin-bottom: .5%;
}

#webDemos {
  display: flex;
  justify-content: space-between;
  margin-left: 40px;
  margin-right: 40px;
}

#webDemo {
  width: 400px;
  height: 300px;
}

#webDemo h2 {
  margin: 0px;
  padding: 0px;
  width: 100%;
  color: rgb(255, 219, 187);
  background-color: rgba(36, 75, 75, 0.75);
}

#webDemo p {
  margin-top: 5px;
  padding-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.logo {
  height: 20px;
  padding: 0px;
  margin: 0px;
  color: rgb(255, 219, 187);
}

.github {
  display: flex;
  justify-content: center;
  align-content: center;
}

#footer {
  display: flex;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 5%;
  margin: 0 auto;
  line-height: 10px;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(36, 75, 75, 0.75);
  color: rgb(255, 219, 187);
}

#copyright {
  margin-left: 2.5%;
}

#socialPlatforms {
  display: flex;
  justify-content: space-around;
  margin-right: 2.5%;
}

#socialPlatforms a {
  margin-left: 10px;
  margin-right: 10px;
  color: rgb(255, 219, 187);
}

#emailSubmit {
  color: rgb(255, 219, 187);
  background-color: rgba(36, 75, 75, 0.75);
  box-shadow: 2px 2px 2px 0px rgb(137,137,137);
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: rgb(255, 255, 255);
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
